/* Adjusting the thumb for WebKit browsers */
.show-slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px; /* Adjust to center the thumb vertically with the track */
    height: 13px;
    width: 13px;
    background: white;
    /* cursor: pointer; */
    border-radius: 50%;
}
  
/* Adjusting the thumb for Firefox */
.show-slider-thumb::-moz-range-thumb {
    background: white;
    height: 16px;
    width: 16px;
    /* cursor: pointer; */
    border-radius: 50%;
}
  
/* Adjusting the thumb for IE */
.show-slider-thumb::-ms-thumb {
    background: white;
    height: 16px;
    width: 16px;
    /* cursor: pointer; */
    border-radius: 50%;
}
  
/* Adjusting the track for WebKit browsers */
.show-slider-thumb::-webkit-slider-runnable-track {
    background: transparent; /* Set the desired color for the entire track */
    height: 4px;
    /* cursor: pointer; */
    border-radius: 1.5px;
}
  
/* Adjusting the track for Firefox */
.show-slider-thumb::-moz-range-track {
    background: transparent; /* Ensure consistent track color */
    height: 4px;
    /* cursor: pointer; */
    border-radius: 1.5px;
}
  
/* Adjusting the track for IE */
.show-slider-thumb::-ms-track {
    background: transparent; /* For IE, you may need to adjust this differently */
    border-color: transparent;
    color: transparent;
    height: 4px;
    /* cursor: pointer; */
}
